USE [Sistem_informasi_warung]
GO
/****** Object:  Table [dbo].[barang]    Script Date: 4/17/2026 12:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barang](
	[id_barang] [int] NOT NULL,
	[nama_barang] [varchar](100) NULL,
	[harga_beli] [decimal](18, 2) NULL,
	[harga_jual] [decimal](18, 2) NULL,
	[margin]  AS ([harga_jual]-[harga_beli]),
	[id_pesanan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cabang]    Script Date: 4/17/2026 12:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cabang](
	[id_cabang] [int] NOT NULL,
	[alamat_gedung] [varchar](100) NULL,
	[id_suplayer] [int] NULL,
 CONSTRAINT [PK_cabang] PRIMARY KEY CLUSTERED 
(
	[id_cabang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faktur]    Script Date: 4/17/2026 12:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faktur](
	[id_pesanan] [int] NOT NULL,
	[tanggal_pesanan] [date] NULL,
	[tanggal trima] [date] NULL,
	[id_suplayer] [int] NULL,
	[lama_proses] [nchar](10) NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[id_pesanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suplayer]    Script Date: 4/17/2026 12:32:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suplayer](
	[id suplayer] [int] NOT NULL,
	[nama_suplayer] [varchar](50) NULL,
	[no_kontak] [varchar](50) NULL,
	[tahun_mulai_kontrak] [int] NULL,
 CONSTRAINT [PK_suplayer] PRIMARY KEY CLUSTERED 
(
	[id suplayer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[barang]  WITH CHECK ADD FOREIGN KEY([id_pesanan])
REFERENCES [dbo].[faktur] ([id_pesanan])
GO
ALTER TABLE [dbo].[cabang]  WITH CHECK ADD  CONSTRAINT [FK_cabang_suplayer] FOREIGN KEY([id_suplayer])
REFERENCES [dbo].[suplayer] ([id suplayer])
GO
ALTER TABLE [dbo].[cabang] CHECK CONSTRAINT [FK_cabang_suplayer]
GO
